<h1>Social ToDo App</h1>
<h2>Need to do some things? Keep track of them here!</h2>

{% if errors %}
<div style="color:red" class="validation-error">
    {{errors}}
</div>
{% endif %}

{% if user.is_authenticated %}
  <h2>Welcome, {{user.first_name}}</h2>
  Not {{user.first_name}}? <a href="user/logout">Logout here!</a>
  <div>
        <h4>Your Tasks</h4>
        {% if task_list %}
            <ul>
            {% for task in task_list %}

              {% if task.completed %}

                <li class="tasks-list-item complete-task">
                  <span class="task-title"><strike>{{task.title}}</strike></span>
                  <p style="margin-left: 40px"><strike>{{task.description}}</strike></p>
                    {% if task.isOwnedByCurrentUser %}
                      <form action = "/task/delete/{{task.id}}" method="post">
                      <input type="submit" name="delete-task" class="delete-task" value="Delete">
                      {% csrf_token %} 
                      </form>
                    {% endif %}
                  <form action = "/task/complete/{{task.id}}" method="post">
                    <input type="submit" name="toggle-task" class="toggle-task" value="Mark Completion">
                    {% csrf_token %} 
                  </form>
                </li>

              {% else %}

                <li class="tasks-list-item">
                  <span class="task-title">{{task.title}}</span>
                  <p style="margin-left: 40px">{{task.description}} </p>
                    {% if task.isOwnedByCurrentUser %}
                      <form action = "/task/delete/{{task.id}}" method="post">
                      <input type="submit" name="delete-task" class="delete-task" value="Delete">
                      {% csrf_token %} 
                      </form>
                    {% endif %}
                  <form action = "/task/complete/{{task.id}}" method="post">
                    <input type="submit" name="toggle-task" class="toggle-task" value="Mark Completion">
                    {% csrf_token %} 
                  </form>
                </li>

              {% endif %}

            {% endfor %}
            </ul>
        {% else %}
            <p>No tasks to show!</p>
        {% endif %}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form action="/task/create" method="POST">
            <label for="title">Task title</label>
            <input name="title" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit" class="create-task-submit">
            {% csrf_token %} 
        </form>
    </div>

{% else %}

  <div>
      <h4> Log In: </h4>
      <form class="login" action="/user/login" method="POST">
          <label for="email">Email</label>
          <input name="email" id="email" type="text"><br>
          <label for="password">Password</label>
          <input name="password"  id="password" type="password"><br>
          <input type="submit"  class="log-in-submit">
          {% csrf_token %}
      </form>
  </div>

  <div><hr></div>

  <div>
      <h4> New User? Register Here: </h4>
      <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
        <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
        <input name="email" type="email" class="text-input" placeholder="email">
        <input name="password" type="password" class="text-input" placeholder="password">
        <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
        <input class="sign-up-submit" type="submit">
        {% csrf_token %}
      </form>
  </div>

{% endif %}
